h1{
	font-size: 20pt;
    color: rgb(13, 4, 44);
    font-family: cursive;
}

body{
	text-align: center;
    background-color: rgb(105, 105, 216);
}

#header{
    height:60px;
    width:200px;
}

img {
    height: 250px;
    width:  250px;
}

h3{
    font-size: 40pt;
    color: rgb(109, 109, 221);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-header{
    color: black;
}

footer{
    font-size: 12pt;
}


