div {
    border: 1px solid black;
    background-color: #b666d2;
    text-align: center;
    margin: auto;
}
iframe {
    height: 472px;
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    overflow-x: hidden;
}
.row {
    border: 1px solid black;
    background-color: powderblue;
}
#gutter {
    height: 480px;
}
